<settings>
    <setting propertyKey="@Properties.LogoString" title="@Strings.LogoStringTitle">
        <settingConfig type="alphaNumeric" maxLength="3" />
    </setting> 
    
    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
            <listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
            <listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
            <listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
            <listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
            <listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
            <listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
            <listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
            <listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
            <listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
            <listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
            <listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
            <listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
            <listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ForegroundColor" title="@Strings.ForegroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
            <listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
            <listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
            <listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
            <listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
            <listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
            <listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
            <listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
            <listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
            <listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
            <listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
            <listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
            <listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
            <listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.AlertColor" title="@Strings.AlertColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
            <listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
            <listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
            <listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
            <listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
            <listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
            <listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
            <listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
            <listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
            <listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
            <listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
            <listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
            <listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
            <listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
        </settingConfig>
    </setting>
    
	<setting propertyKey="@Properties.OwlBackgroundColor" title="@Strings.OwlBackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
            <listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
            <listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
            <listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
            <listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
            <listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
            <listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
            <listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
            <listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
            <listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
            <listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
            <listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
            <listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
            <listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.OwlForegroundColor" title="@Strings.OwlForegroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
            <listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
            <listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
            <listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
            <listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
            <listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
            <listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
            <listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
            <listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
            <listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
            <listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
            <listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
            <listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
            <listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.OwlAlertColor" title="@Strings.OwlAlertColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
            <listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
            <listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
            <listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
            <listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
            <listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
            <listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
            <listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
            <listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
            <listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
            <listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
            <listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
            <listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
            <listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowOnWings" title="@Strings.ShowOnWingsTitle">
        <settingConfig type="list">
        	<listEntry value="0">@Strings.NOTHING</listEntry>
            <listEntry value="1">@Strings.DECORATIVE_ON_WINGS_01</listEntry>
            <listEntry value="2">@Strings.DECORATIVE_ON_WINGS_02</listEntry>
            <listEntry value="3">@Strings.FLOORS_ON_WINGS</listEntry>
            <listEntry value="4">@Strings.HEARTRATE_ON_WINGS</listEntry>
        </settingConfig>
    </setting>
</settings>
